<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajax请求后台数据</title>
    <script src="https://cdn.bootcss.com/jquery/1.8.2/jquery.js"></script>

</head>
<body>
        <input  id="na" type="text" />
        <input type="button" value="点击执行ajax" onclick='Doajax()'/><br />
        <textarea  id="content" col="400" rows="5" placeholder="显示返回的值"></textarea>
        <script type="text/javascript">

            //执行点击操作 ajax
              function Doajax() {
                  var temp = $('#na').val();
                  console.log(temp);
                  if (temp.length != 0) {
                      $.ajax({
                          url: "{% url 'login:ajax' %}",
                          type: 'POST',
                          dataType: 'json',
                          //往后台传的值
                          //data temp 为输入的数据
                          data: {data: temp,
                              unid:'${formlist.items[0].unid}'
                          },

                          success: function (arg) {
                                console.log(arg);
                                //可以将后台返回的json对象转换成json对符串
                              var obj = JSON.stringify(arg);

                              $('#content').val( obj)
                          },
                          error: function () {
                              console.log('failed')

                          }
                      });

                  } else {
                      alert('未传值');
                      console.log('未传值');
                  }
              }
            </script>

</body>
</html>