<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <h1>用户输入：</h1>
    <form action="{% url 'login:submit_check' %}" method="post">
        {% csrf_token %}   <!--加入这行 -->
        用户名：<input type="text" name="username" id="name" placeholder="请输入名字" onblur="formcheck()" ><br />
        密码：<input type="password"  name="password"  placeholder="请输入密码" onblur="formcheck()"><br />
​        <button onclick="myFunction()">提交</button>
{#        <input type="submit" value="提交" id="btn">#}
     {#加入了message插件#}
        {% if message %}
            <div class="alert alert-warning">{{ message }}
            </div>
        {% endif %}

    </form>
{#弹框设置#}
{#    <script>#}
{#        function myFunction(){#}
{#            var a=document.getElementById("name").value;#}
{#        alert(a+"提交成功");#}
{#   </script>#}

    <h1>数据内容刷新页面：</h1>
        <table border="1">
            <thead>
                <tr>用户名</tr>
                <tr>密码</tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td>{{ item.user }}</td>
                    <td>{{ item.pwd }}</td>
                </tr>
                {% endfor %}
            <ul class="nav navbar-nav navbar-right">
              {% if request.session.is_login %}
                  <li><a href="#">当前在线：{{ request.session.user_name }}</a></li>

                  <li><a href="{% url 'login:logout' %}">登出</a></li>
              {% endif %}

            </ul>
            </tbody>
        </table>



{#    <script src="/static/js/jquery-3.3.1.min.js"></script>#}